:root {
    --color_fondo:#CCCCCC;
    --color_fuente:#000000;
    --lima:#D7E100;
}

*, *::after, *::before{
    box-sizing: border-box;
}

* {
    background-color: var(--color_fondo);
    color:var(--color_fuente);
    font-family: Helvetica;
}

body{
    margin: 0;
    padding: 0;
}