form{
    padding: 3rem;
}

    form input[type="text"],
    form input[type="email"],
    form input[type="password"] {
        width: 100%;
        padding: .7em;
        border: 0;
        background-color: darkgray;
        border-radius: 1em;
        color:#000000;
    }

    .contaner_login{
        width: 300px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

        form input[type="submit"]{
            padding: 1em;
            border:none;
            background-color:var(--lima);
            color: #000000;
            border-radius: 1em;
            width: 100%;
        }