h2 {
    font-size: 16px;
    width: 100%;
    border-bottom: 1px dotted black;
}

h3{
    font-size: 13px;
    margin-top: 0px;
}

.container{
    display:grid;
    grid-template-columns: 1fr;
    max-width: 1024px;
    margin: 0px auto;
}

.bloque{
    display: flex;
    flex-wrap: wrap;
}

.menu_principal{
    list-style-type: none;
    margin: 0;
    flex:1 1 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    background-color: var(--lima);
    border-radius: 5px;
}    

.item_menu{
    list-style-type: none;
    margin: 0;
    background-color: var(--lima);
}
    .item_menu>a{
        padding: .5em;
        margin: .5em;
        text-decoration: none;
        background-color: var(--lima);
        border-radius: 10px;
    }
        .item_menu>a:hover{
            background-color: black;
            color: white;
        }
.banner_principal{
    flex:1 1 100%;
    margin: 5px 0px;
    overflow: hidden;
}
    .banner_principal>a>img{
        max-width: 100%;
        height: auto;
    }
.seguir_viendo{
    flex:1 1 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
    .bloque_pelicula{
        padding: 5px;
    }
        .bloque_pelicula>a{
            max-width: 100%;
        }
            .bloque_pelicula>a>img{
                
            }
.capa_info {
    position: absolute;
}
.trailer_169_grande{
    max-width: 1024px;
    width: 100%;
}
.detalle_banner_grande{
    display: flex;
    justify-content: space-between;
}
.sinopsis, .ficha_tecnica{
    flex:1 1 50%;
    margin-top: 5px;
    max-width: 49%;
}

.mas18{
    background-color: red;
    font-weight: bold;
    padding: 3px;
    color: white;
    border-radius: 3px;
    font-size: 10px;
}
footer{
    height: 10vh;
}
.copyright, .social{
    flex:1 1 50%;
}
.copyright{
    align-content: center;
}
.lista_social{
    list-style-type: none;
    margin: 0;
    flex:1 1 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.item_social{
    margin: 0;
    padding: 1em;
}